.forgotPassword {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #85FFBD, #e65015ef);
}
.forgotPassword label {
  color: rgb(10, 21, 2);
  letter-spacing: 1.5px;
}

 .forgotPassword h2 {
  color: #1f1e1e;
  font-size: 24px;
}

.glass-password {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  /* margin: auto; */
  margin-top: 45px;
  margin-bottom: -70px;
}


@media (max-width: 768px) {
  .forgotPassword {
    height: 665px;
  }


}
